<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>
    <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div id="app">
    
    <div class="panel panel-primary">
          <div class="panel-heading">
                <h3 class="panel-title">添加品牌</h3>
          </div>
          <div class="panel-body form-inline">
               <label>
                   Name:
                   <input type="text" v-model="name" class="form-control">
               </label>
               <input type="button" value="添加" @click="add" class="btn btn-primary">
          </div>
    </div>
    
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Ctime</th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="item in list" :key="item.id">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.ctime}}</td>
                <td><a href="" @click.prevent="del(item.id)">删除</a></td>
            </tr>
        </tbody>
    </table>
    
</div> 
<script>
    Vue.http.options.root='http://www.liulongbin.top:3005/';
    Vue.http.options.emulateJSON=true;
    let vm=new Vue({
        el:"#app",
        data:{
            name:'',
            list:[
                {id:1,name:'五菱宏光',ctime:new Date()},
                {id:2,name:'众泰',ctime:new Date()}
            ]
        },
        created(){
            this.getAllList();
        },
        methods:{
            getAllList(){
                this.$http.get('api/getprodlist').then(result=>{
                    result=result.body;
                    if(result.status===0){
                        this.list=result.message;
                    }else{
                        alert('获取数据失败');
                    }
                })
            },
            add(){
                this.$http.post('api/addproduct',{name:this.name}).then(
                    result=>{
                        if(result.body.status===0){
                            this.getAllList();
                            this.name='';
                        }else{
                            alert('添加失败!');
                        }
                    }
                );
            },
            del(id){
                this.$http.get('api/delproduct/'+id).then(result=>{
                    if(result.body.status===0){
                        this.getAllList();
                    }else{
                        alert('删除失败!');
                    }
                });
            }
        }
    });
</script>
</body>

</html>